:root {

    /* main colors */
    --regular_text:#111111;
    --background_color: rgb(218, 218, 218);
}

html {
    background-color: var(--background_color);
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;

}

body {
    text-align: center;
}

table {
    width: 100%;
}

.emojiSelect {
    margin-top: 20px;
    font-size: 35px;
    padding: 15px;
    border-radius: 10px;
    border-color: transparent;
}

h4 {
    font-size: 13px;
}

#greenSelect {
    background-color: #538d4e;
}

optgroup { font-size:40px; }


#yellowSelect {
    background-color: #b59f3a;
}

#blackSelect {
    background-color: #121213;
}


#result_picture {
    font-size: 30px;
    padding: 15px;
}

#copyBtn {
    font-size: 30px;
    padding: 15px 15px;
    font-family: 'IBM Plex Mono', monospace;
}

#wordle_input {
    width: 90%;
    font-size: 20px;    
    padding: 20px 10px;
    margin: 8px 5%;
    box-sizing: border-box;
  }